
<%# <div class="bg-secondary-subtle shadow p-3 mb-5 bg-body-tertiary rounded p-2" style="display: flex; justify-content: center; align-items: center; height: 100vh;"> %>

<div class="bg-secondary-subtle shadow p-3 mb-5 bg-body-tertiary rounded p-2">

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field container"  style=" justify-content: center; align-items: center; ">

  <div class="field ">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",style: "width: 100%;" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> (Enter new password)<br />
    <%= f.password_field :password, autocomplete: "new-password" ,style: "width: 100%;"%>
    <% if @minimum_password_length %>
      <br />
      <%= @minimum_password_length %> characters minimum
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,style: "width: 100%;"%>
  </div>

  <div class="field">
    <%= f.label :current_password %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password",style: "width: 100%;" %>
  </div><br/>


</div>
 <div class="actions">
    <%= f.submit "Update" ,class: "btn btn-outline-secondary"%>
  </div><br/><br/>
<% end %>
<h3>Cancel my account</h3><br/>

<div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete ,class: "btn btn-outline-secondary"%></div><br/>

<%= link_to "Back", :back ,class:"btn btn-outline-secondary"%>

