<%= form_with(model: @student) do |form| %>
 <% if @student.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(@student.errors.count, "error") %> prohibited this friend from being saved:</h2>

    <ul>
      <% @student.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div>
    <%= form.text_field :first_name ,placeholder: "Enter First name",style:"width: 100%; height:40px"%></br><br>
    <%= form.text_field :last_name ,placeholder: "Enter Last name",style:"width: 100%; height:40px"%></br><br>
    <%= form.text_field :email ,placeholder: "Enter Email",style:"width: 100%; height:40px"%></br><br>
    <%= form.text_field :contact ,placeholder: "Enter Contact",style:"width: 100%; height:40px"%></br><br>
    <%= form.date_field :dob ,placeholder: "Enter Date of birth",style:"width: 100%; height:40px"%></br><br>
    <%= form.text_field :age ,placeholder: "Enter Age",style:"width: 100%; height:40px"%></br><br>
    <%= form.text_field :address ,placeholder: "Enter Address",style:"width: 100%; height:40px"%></br><br>
<div>
<%= form.submit %></br><br/></br><br/>
</div>
<% end %>

