
<h1>Listing Student</h1><br/><br/>
<div >
<table class = "table table-striped table-hover">
    <thead class = "table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th colspan= "3">Actions</th>
         </tr>
    </thead>
    <tbody>

    <% @students.each do |student| %>
    <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.email %></td>
        <td><%= student.contact %></td>
        <td><%= link_to 'View',student ,class:"btn btn-outline-secondary" %></td>
        <td><%= link_to 'Edit', edit_student_path(student)  ,class:"btn btn-outline-secondary"%></td>
        <td><%= button_to 'Delete', student_path(student), :method => :delete , class:"btn btn-outline-secondary"%></td>
        <%# <td><%= link_to 'Delete', @student, method: :delete, class: "btn btn-outline-secondary" %>

    </tr>
    <% end %>

    </tbody>
</table>
</div>
