<div class="bg-secondary-subtle shadow p-3 mb-5 bg-body-tertiary rounded p-2"> 
<h1>Student Details</h1>
<p><strong>First Name: </strong><%= @student.first_name %></p>
<p><strong>Last Name: </strong><%= @student.last_name%></p>
<p><strong>Email: </strong><%= @student.email %></p>

<%= link_to 'Back' ,students_path ,class:"btn btn-outline-secondary" %>
<%= link_to 'Edit', edit_student_path(@student) ,class:"btn btn-outline-secondary " %>
</div>
