
<div class="bg-secondary-subtle shadow p-3 mb-5 bg-body-tertiary rounded p-2">

<div id="<%= dom_id friend %>">
  <p>
    <strong>First name:</strong>
    <%= friend.first_name %>
  </p>
<p>
    <strong>User Id:</strong>
    <%= friend.id %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

</div>
</div>
