
<%# <p style="color: green"><%= notice %>
<br/><br/>
<h1>Friends</h1>

<table class= "table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>User Id</th>
      <th>Actions</th>

    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
          <td><%= link_to friend.first_name + " "+ friend.last_name , friend, class: "btn btn-outline-secondary" %></td>

        <%# <td><%= friend.first_name + " "+ friend.last_name %>
        <td><%= friend.email %></td>
        <td><%= friend.user_id %></td>

        <td>
          <%= link_to "Show", friend, class: "btn btn-outline-secondary" %>
          <%# <%= link_to "Delete", friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary" %>

          <%# <%= link_to "Show", friend, class: "btn btn-outline-secondary" %>


        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path, class: "btn btn-secondary" %>
